body{font-family:Helvetica,Verdana,Arial;background-color:#eee !important}
.address{font-weight:bold;font-size:12px}
.time{font-size:12px;font-weight:normal}
.bez{clear:both;font-weight:bold;display:inline;font-size:12px;}
.clear{clear:both;}
.fl{float:left}
.fr{float:right}
.a{color:#d84c3f}
ul.requests{font-size:16px;}
h4{text-align:center;margin-left:auto;margin-right:auto;}
@media only screen and (min-width: 600px){
    .ui-page {
        width: 520px !important;
        margin: 0 auto !important;
        position: relative !important;
        border-right: 1px #666 outset !important;
        border-left: 1px #666 outset !important;
    }
    .ui-footer {
        width: 520px !important;
        margin: 0 auto !important;
    }
}
.notice{font-size:12px;font-weight:normal}
.fr{float:right}
.datetime{width:280px;height:20px;margin-left:15px;}
.datetime div {width:130px;}
.datetime :first-child{float:left}
.datetime :last-child{float:right}
.help{float:left;margin-top:0px;}
.helperRequested{float:left}
[data-role="footer"]{text-align:center;}